<section class="container">
  <ul class="list-unstyled pt-2 row">
    {{#each data}}
    <li class="bgDark p-2 col-12">
      <a href="https://stackoverflow.com{{link}}">{{text}}</a>
      <span class="text-dark">{{age}}</span>
      <p class="text-dark">{{company}}</p>
      <p class="text-dark">{{pay}}</p>
      <ul class="list-unstyled">
        {{#each tags}}
        <li>{{this}}</li>
        {{/each}}
      </ul>
    </li>
    {{/each}}
  </ul>
</section>